$_red_normal: rgba(255, 67, 67, 1);
$_red_action: rgba(231, 20, 20, 1);
$_red_text: rgba(255, 67, 67, 1);
$_gray: rgba(198, 203, 205, 1);
$_gray_text: rgba(108, 114, 121, 1);
$_white: rgba(255, 255, 255, 1);
$_black_text: rgba(45, 48, 51, 1);